<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Activity Manager" sequenceNumber="1515873306">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.source.feature.group" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.junit.source" version="0.0.0"/>
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.hamcrest.integration" version="0.0.0"/>
      <unit id="org.hamcrest.text" version="0.0.0"/>
      <unit id="org.apache.commons.codec" version="0.0.0"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.dbcp" version="0.0.0"/>
      <unit id="org.apache.commons.dbcp.source" version="0.0.0"/>
      <unit id="org.apache.commons.pool" version="0.0.0"/>
      <unit id="org.apache.commons.pool.source" version="0.0.0"/>
      <unit id="org.apache.commons.beanutils" version="0.0.0"/>
      <unit id="org.apache.commons.beanutils.source" version="0.0.0"/>
      <unit id="org.apache.commons.collections" version="0.0.0"/>
      <unit id="org.apache.commons.collections.source" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.apache.commons.lang.source" version="0.0.0"/>
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.google.inject.source" version="0.0.0"/>
      <unit id="com.google.inject.assistedinject" version="0.0.0"/>
      <unit id="com.google.inject.assistedinject.source" version="0.0.0"/>
      <unit id="com.google.inject.multibindings" version="0.0.0"/>
      <unit id="com.google.inject.multibindings.source" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="com.google.guava.source" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.apache.log4j.source" version="0.0.0"/>
      <unit id="org.apache.poi" version="0.0.0"/>
      <unit id="org.apache.poi.source" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="com.google.gson.source" version="0.0.0"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
  </locations>
</target>
