<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.activitymgr.ui.web.view.impl.internal.ActivityManagerWebUIApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.activitymgr.ui.web.view.application"
            name="Obeo Activity Manager UI (Web)">
         <property
               name="appName"
               value="Obeo Activity Manager UI (Web)">
         </property>
      </product>
   </extension>
   <extension
         point="org.vaadin.application">
      <vaadin-ui
            productionMode="true"
            ui="org.activitymgr.ui.web.view.impl.internal.ActivityManagerUI">
      </vaadin-ui>
   </extension>
   <extension
         point="org.activitymgr.ui.web.logic.viewbinding">
      <binding
            logic="org.activitymgr.ui.web.logic.IAuthenticationLogic"
            view="org.activitymgr.ui.web.view.impl.internal.AuthenticationPanel">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.IContributionsTabLogic"
            view="org.activitymgr.ui.web.view.impl.internal.ContributionsPanel">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ICollaboratorsTabLogic"
            view="org.activitymgr.ui.web.view.impl.internal.CollaboratorsPanel">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ITasksTabLogic"
            view="org.activitymgr.ui.web.view.impl.internal.TasksPanel">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ITaskChooserLogic"
            view="org.activitymgr.ui.web.view.impl.internal.dialogs.TaskChooserDialog">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ILabelLogic"
            view="org.activitymgr.ui.web.view.impl.internal.util.LabelView">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ITextFieldLogic"
            view="org.activitymgr.ui.web.view.impl.internal.util.TextFieldView">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ICheckBoxFieldLogic"
            view="org.activitymgr.ui.web.view.impl.internal.util.CheckBoxView">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.ITabFolderLogic"
            view="org.activitymgr.ui.web.view.impl.internal.TabFolderViewImpl">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.IButtonLogic"
            view="org.activitymgr.ui.web.view.impl.internal.util.ButtonView">
      </binding>
      <binding
            logic="org.activitymgr.ui.web.logic.IDownloadButtonLogic"
            view="org.activitymgr.ui.web.view.impl.internal.util.DownloadButtonView">
      </binding>
   </extension>
</plugin>
