<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.activitymgr.ui.web.view.ActivityManagerWebUIApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.activitymgr.ui.web.view.application"
            name="Activity Manager UI (Web)">
         <property
               name="appName"
               value="Activity Manager UI (Web)">
         </property>
      </product>
   </extension>
   <extension
         point="org.vaadin.application">
      <vaadin-ui
            productionMode="true"
            ui="org.activitymgr.ui.web.view.ActivityManagerUI">
         <bundle-to-reload
               id="org.activitymgr.core">
         </bundle-to-reload>
         <bundle-to-reload
               id="org.activitymgr.ui.web.logic">
         </bundle-to-reload>
      </vaadin-ui>
   </extension>

</plugin>
