<html>
	<head>
		<title>$props.title.get()</title>
	</head>
	<body>
		## Récupération des chemins tâches
		#set($tasksPaths=$props.taskPathList.get().split(","))
		#set($tasks=$model.getTasksByCodePath($tasksPaths))
		
		## Préparation de l'interval de dates
		#set($fromDate=$dates.toDate('yyyyMM', $props.month.get()))
		#set($toDate=$dates.lastDayInMonth($fromDate))
		#set($dateList=$dates.buildDayInterval($fromDate, $toDate))
		
		## Récupération des collaborateurs
		#if($props.ignoreUnactiveCollaborators.get()=='true')
			#set($cols=$model.getActiveCollaborators(3, true))
		#else
			#set($cols=$model.getCollaborators(3, true))
		#end

		<a name="hautPage"><h3>Month activity</h3></a>

		## Sommaire des collaborateurs
		#foreach ($col in $cols)
			[<a href="#$col.login">$col.firstName $col.lastName</a>]	
		#end
		<br>
		## Itération sur les collaborateurs
		#foreach ($col in $cols)
			<br>
			<table>
				<tr>
					<td valign="middle"><a name="$col.login"><h3>$col.firstName $col.lastName</h3></a></td>
					<td valign="middle"><a href="#hautPage">Goto top</a></td>
				</tr>
			</table>
			<table border="1" cellspacing="0">
				<tr>
					<td><b>Tache</b></td>
					#foreach ($date in $dateList)
						#set($day = $dates.toString('dd', ${date}))
						<td align="center"><b>$day</b></td>
					#end
					<td><b>Total</b></td>
				</tr>
				#foreach ($task in $tasks)
					$sums.set('taskSum', 0) 
					<tr>
						<td><b>$task.name</b></td>
						#foreach ($date in $dateList)
							#set($consumed = $model.getContributionsSum($task, $col, $dates.getYear($date), $dates.getMonth($date), $dates.getDay($date)))
							$sums.add('taskSum', $consumed) 
							<td align="right" width="22">
								#if(! $test.eq($consumed, 0))
									$fmt.formatDuration(${consumed})
								#else
									&nbsp;
								#end
							</td>
						#end
						<td align="right">$fmt.formatDuration($sums.get('taskSum'))</td>
					</tr>
				#end
			</table>
		#end
	</body>
</html>

