<html>
	<head>
		<title>$props.title.get()</title>
	</head>
	<body>
		## Récupération des chemins tâches
		#set($tasksPaths=$props.taskPathList.get().split(","))

		<table border="1" cellspacing="0">
			<tr>
				<td><b>Code</b></td>
				<td><b>Taches</b></td>
				<td>
					$sums.set('budgetSum', 0)
					<b>Budget</b>
				</td>
				<td>
					$sums.set('initiallyConsumedSum', 0)
					<b>Initially consumed</b>
				</td>
				<td>
					$sums.set('todoSum', 0)
					<b>Todo</b>
				</td>
				<td>
					$sums.set('consumedSum', 0) 
					<b>Consumed</b>
				</td>
				<td>
					$sums.set('slSum', 0)
					<b>Delta</b>
				</td>
			</tr>
			#foreach ($taskPath in $tasksPaths)
				#set($task=$model.getTaskByCodePath($taskPath))
				#set($taskSums=$model.getTaskSums($task))
				$sums.set('taskSum', 0)
				<tr>
					<td>$taskPath</td>
					<td>$task.name</td>
					<td align="right">
						$sums.add('taskSum', $taskSums.budgetSum)
						$sums.add('budgetSum', $taskSums.budgetSum)
						$fmt.formatDuration($taskSums.budgetSum)
					</td>
					<td align="right">
						$sums.sub('taskSum', $taskSums.initiallyConsumedSum)
						$sums.add('initiallyConsumedSum', $taskSums.initiallyConsumedSum)
						$fmt.formatDuration($taskSums.initiallyConsumedSum)
					</td>
					<td align="right">
						$sums.sub('taskSum', $taskSums.todoSum)
						$sums.add('todoSum', $taskSums.todoSum)
						$fmt.formatDuration($taskSums.todoSum)
					</td>
					<td align="right">
						$sums.sub('taskSum', $taskSums.consumedSum)
						$sums.set('consumed', $taskSums.consumedSum)
						$sums.add('consumed', $taskSums.initiallyConsumedSum)
						$sums.add('consumedSum', $sums.get('consumed'))
						$fmt.formatDuration($sums.get('consumed'))
					</td>
					<td align="right">
						$sums.add('slSum', $sums.get('taskSum'))
						$fmt.formatDuration($sums.get('taskSum'))
					</td>
				</tr>
			#end
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td align="right">
					$fmt.formatDuration($sums.get('budgetSum'))
				</td>
				<td align="right">
					$fmt.formatDuration($sums.get('initiallyConsumedSum'))
				</td>
				<td align="right">
					$fmt.formatDuration($sums.get('todoSum'))
				</td>
				<td align="right">
					$fmt.formatDuration($sums.get('consumedSum'))
				</td>
				<td align="right">
					$fmt.formatDuration($sums.get('slSum'))
				</td>
			</tr>
		</table>
	</body>
</html>