<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.activitymgr.ui.web.logic.authenticator" name="Authenticator Extension" schema="schema/org.activitymgr.ui.web.logic.authenticator.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionColumns" name="Contribution Columns" schema="schema/org.activitymgr.ui.web.logic.contributionColumns.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionCellLogicProvider" name="Contribution Cell Logic Provider" schema="schema/org.activitymgr.ui.web.logic.contributionCellLogicProvider.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.weekContributionsProvider" name="Week Contributions Provider" schema="schema/org.activitymgr.ui.web.logic.weekContributionsProvider.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionAction" name="ContributionsUI Action" schema="schema/org.activitymgr.ui.web.logic.contributionAction.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.additionalModules" name="Additional Guice Modules" schema="schema/org.activitymgr.ui.web.logic.additionalModules.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.tabLogic" name="Tab Logic Provider" schema="schema/org.activitymgr.ui.web.logic.tabLogic.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.featureAccessManager" name="Feature Access Manager" schema="schema/org.activitymgr.ui.web.logic.featureAccessManager.exsd"/>
   <extension
         point="org.activitymgr.ui.web.logic.contributionAction">
      <contributionAction
            handler="org.activitymgr.ui.web.logic.impl.internal.NewTaskContributionActionHandler"
            iconId="new"
            label="New task"
            shortcutKey="CTRL+SHIFT+N">
      </contributionAction>
   </extension>
   <extension
         point="org.activitymgr.ui.web.logic.tabLogic">
      <tab
            class="org.activitymgr.ui.web.logic.impl.internal.ContributionsTabLogicImpl"
            label="Contributions">
      </tab>
   </extension>
</plugin>
