<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.activitymgr.ui.web.logic.authenticator" name="Authenticator Extension" schema="schema/org.activitymgr.ui.web.logic.authenticator.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionColumns" name="Contribution Columns" schema="schema/org.activitymgr.ui.web.logic.contributionColumns.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionCellLogicProvider" name="Contribution Cell Logic Provider" schema="schema/org.activitymgr.ui.web.logic.contributionCellLogicProvider.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.modelMgrImpl" name="Model Manager Implementation" schema="schema/org.activitymgr.ui.web.logic.modelMgrImpl.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.weekContributionsProvider" name="Week Contributions Provider" schema="schema/org.activitymgr.ui.web.logic.weekContributionsProvider.exsd"/>
   <extension-point id="org.activitymgr.ui.web.logic.contributionActionHandler" name="Contributions UI Action Handler" schema="schema/org.activitymgr.ui.web.logic.contributionActionHandler.exsd"/>
   <extension
         point="org.activitymgr.ui.web.logic.contributionActionHandler">
      <contributionActionHandler
            class="org.activitymgr.ui.web.logic.impl.internal.AddTaskContributionActionHandler">
      </contributionActionHandler>
   </extension>
</plugin>
